<form method="post" action="{{ path('prioridade_delete', {'id': prioridade.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prioridade.id) }}">
    <button class="btn">Delete</button>
</form>
